@import "tailwindcss";

/*
  Garante que o app e o mapa ocupem a tela inteira.
  O Tailwind precisa disso para que classes como 'h-full' funcionem.
*/
html, body, #root {
  width: 100%;
  height: 70vh; /* 80% da altura da tela */
  margin: 0;
  padding: 0;
  overflow: hidden; /* Evita barras de rolagem desnecessárias */
}

/* Garante que o container do Leaflet preencha seu elemento pai.
  O App.jsx vai renderizar o MapContainer com 100% de altura/largura.
*/
.leaflet-container {
  width: 100%;
  height: 100%;
}